.switch {
    width: 61px;
    height: 33px;
    position: relative;
    display: inline-block;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    background-color: white;
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    content: "";
    transition: .4s;
    -webkit-transition: .4s;
    
  }
  
  input:checked + .slider {
    background-color: #1381dc;
  }
  
  
  input:checked + .slider:before {
    transform: translateX(27px);
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(23px);
  }
  
  .slider.round {
    border-radius: 40px;
  }
  
  .slider.round:before {
    border-radius: 60%;
  }
  body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
    text-align: center;
  }
  
  .dark {
    background-color: black;
    color: white;
  }
  
